{% extends 'layout.html' %}
{% block body %}

<div class="row item-title-row">
  <div class="col-12">
    <h1>{{ item.title }}</h1>
    <div class="item-claim">
      {% if item.claimed %}
      <a class="btn btn-secondary btn-lg" disabled>Reserved</a>
      {% else %}
      <a class="btn btn-success btn-lg" href="/claiming/{{item.id}}">Reserve!</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <blockquote class="blockquote item-description">
      {{ item.description|safe }}
      <footer class="blockquote-footer">Doug &amp; Miriam</footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-12 item-example">
    Here are some linked examples of things Doug &amp; Miriam quite like.
    But don't let us constrain you...
  </div>
  {% for img in item.images %}
  <div class="col-md-4">
    {% if img.link %}<a href="{{img.link}}">{% endif %}
      <img class="img-fluid"
           src="/static/lib/img/{{ img.path }}"/>
    {% if img.link %}</a>{% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
