{% extends 'layout.html' %}
{% block body %}

<div class="row intro-text">
  <div class="col-12">
    <p>
      A list of vague suggestions for wedding gifts.<br/>
      (This hodge-podge site really just a checklist to make sure we don't get 100 toasters&hellip;)
      <br/>
      Here's how it works...<br/>
      <ul>
        <li>
          Browse the list below to see suggestions of things we think would be useful as we set up home.
          Clicking on an item will show you a description and examples of things we like.
        </li>
        <li>
          If you find something you'd like to buy, you can either purchase it online using the link when you click on the image, or you might prefer to go to an actual shop and buy it from a real person.
        </li>
        <li>
          Either way, click "Reserve" to tick it off the list, so no-one else will buy the same gift as you.
        </li>
        <li>
          You can either bring the gift with you to our wedding, or have it posted to our new home (ask us for the address).
        </li>
      </ul>
    </p>
    <div class="input-group list-filter">
      <span class="input-group-addon">Filter</span>
      <input type="search" class="form-control" autofocus/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-hover list-main"
           data-list-query="unclaimed">
      <tbody></tbody>
    </table>
  </div>
</div>

{% endblock %}
