/* Layout (base) */

body {
    background-image: url("/static/img/banner.png");
    background-repeat: repeat-x;
    background-size: 20em;
}
nav {
    margin-bottom: 3em;
}
.navbar-light {
    background-color: transparent;
}
.nav-link {
    font-family: sans, sans-serif;
    font-size: 1.2em;
    color: #000 !important;
    margin-top: -0.5em;
}
.flip-clock-label {
    font-weight: 700;
    font-size: 2.5em;
}
.countdown-holder {
    position: fixed;
    right: 1em;
    top: 0.5em;
}
.countdown {
    transform: scale(0.30);
    transform-origin: 100% 0%;
}
.alert {
    position: fixed;
    bottom: 2em;
    left: 4em;
    right: 4em;
}


/* Common */

.intro-text {
    margin-bottom: 2em;
}
.intro-text p {
    color: #444;
    font-size: 1.2em;
    font-family: sans, sans-serif;
}

/* list.html */

.list-main td {
    vertical-align: middle !important;
}
.list-main .td-img {
    width: 8em;
}
.list-main h2 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: sans, sans-serif;
}

/* detail.html */

.item-title-row {
    margin-top: 2em;
    margin-bottom: 1em;
}
.item-title-row h1 {
    display: inline-block;
}
.item-title-row button {
    margin-top: -0.3em;
}
.item-description {
    margin-bottom: 3em;
}
.item-example {
    font-style: italic;
}
.item-claim {
    display: inline-block;
    float: right;
    margin-left: 1em;
}

/* claiming.html */

.jumbotron {
    background: #cfdfd8;
}
.claiming-todo li {
    margin-bottom: 1.5em;
}
.claiming-todo h2 {
    font-size: 1.5em;
}
